.popular_foods_items {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
}
.popular_foods_item_content a {
  text-decoration: none;
  color: black;
}

.popular_foods_item_image img {
  width: 35vh;
  height: 35vh;
  display: flex;
  margin: auto auto;
}
.popular_foods_item_image img:hover {
  transform: scale(1.03);
  transition: 0.5s;
  cursor: pointer;
}
.popular_foods_item_price {
  color: green;
  font-size: 20px;
  font-weight: 600;
}
.popular_foods_item_addToCart {
  border-radius: 20px;
  width: 50%;
  color: white;
  background: rgb(51, 138, 219);
}
